@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
}

svg {
  vertical-align: text-bottom;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #373a3c;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

input:disabled {
  cursor: not-allowed;
}

h1 {
  line-height: 1.1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
ol,
ul {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
